---
import '~/styles/global.css'
import { SEO } from 'astro-seo'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Space+Grotesk:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <SEO
      title="Dinh | Web Developer - Indie Hacker"
      description="Hi there! My name's Dinh, and I'm a software developer. I started learning programming in 2019, and now I'm a full-time indie hacker who turns ideas into products."
      openGraph={{
        basic: {
          title: 'Dinh | Software Developer - Indie Hacker',
          type: 'website',
          image: '/og.jpg',
        },
      }}
      twitter={{
        creator: '@divndev',
        card: 'summary_large_image',
      }}
    />
  </head>
  <body class="dark max-w-5xl mx-auto">
    <div class="flex justify-end mt-6 p-4">
      <a href="/" class="text-sm">Home</a>
    </div>

    <main class="p-4 mt-28">
      <h1 class="text-3xl">Hi, I`m Dinh 👋</h1>
      <p class="text-sm text-foreground/80 mt-4 leading-7">
        I'm a <span class="text-primary/80">software developer</span>. I started learning programming in 2019, and now
        I'm a full-time <span class="text-primary/80">indie hacker</span> who turns ideas into products.
      </p>
      <div class="flex items-center gap-6 mt-8">
        <a href="mailto:me@divn.dev" class="text-sm text-muted-foreground hover:text-primary"> Email</a><a
          href="https://github.com/divndev"
          class="text-sm text-muted-foreground hover:text-primary"
        >
          Github
        </a>
        <a href="https://x.com/divndev" class="text-sm text-muted-foreground hover:text-primary">Twitter</a>
        <a href="https://divndev.substack.com" class="text-sm text-muted-foreground hover:text-primary">News</a>
      </div>
    </main>

    <div class="grid grid-cols-2 mt-28 gap-4">
      <div id="substack-feed-embed"></div>

      <div>
        <div class="p-6 rounded-xl border">
          <div class="text-sm">Stay up to date</div>
          <div class="mt-1 text-muted-foreground text-sm">Get notified when new posts are out. No spam ever.</div>
          <div id="custom-substack-embed" class="mt-5"></div>
        </div>

        <div class="p-6 rounded-xl border mt-10">
          <div class="text-sm">Products</div>
          <div class="mt-1 text-muted-foreground text-sm">Products I've built and launched.</div>
          <div class="mt-5 space-y-4">
            <div class="flex items-center gap-2">
              <img src="/resolvex-icon-logo.svg" alt="ResolveX logo" class="h-6 w-6" />
              <div>
                <a href="https://resolvex.ai" class="text-sm">ResolveX</a>
                <span class="text-sm text-muted-foreground ml-1">(building)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      window.SubstackFeedWidget = {
        substackUrl: 'divndev.substack.com',
        posts: 3,
        layout: 'right',
        hidden: ['author', 'premium', 'image'],
        colors: {
          primary: '#FFFFFF',
          secondary: '#B2BEC3',
          background: '#0C0A09',
        },
      }
    </script>
    <script src="https://substackapi.com/embeds/feed.js" async></script>
    <script>
      window.CustomSubstackWidget = {
        substackUrl: 'divndev.substack.com',
        placeholder: 'your email',
        buttonText: 'Subscribe',
        theme: 'custom',
        colors: {
          primary: '#EA580C',
          input: '#0C0A09',
          email: '#FFFFFF',
          text: '#000000',
        },
      }
    </script>
    <script src="https://substackapi.com/widget.js" async></script>
  </body>
</html>
